* {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.breadcrumb {
  padding-left: 10px;
  margin-bottom: 30px;
}

h1, h2, h3 {
  padding-left: 10px;
  color: #333;
  font-weight: 300;
  clear: both;
}

h2 {
  color: #555;
}

a {
  color: #666;
  text-decoration: none;
}

.thumb {
  text-align: center;
  list-style: none;
  float: left;
  width: 150px;
  min-height: 170px;
  height: 170px;
  margin: 10px;
  padding: 8px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.thumb figcaption {
  max-height: 32px;
  overflow: hidden;
  font-size: 14;
  word-wrap: break-word;
}

.thumb img {
  overflow: hidden;
  margin: auto;
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
}

figure.photo {
  margin: 10px;
}

figure.photo img {
  max-width: 100%;
}

figure.photo figcaption {
  padding-left: 10px;
}

section.info {
  margin: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #C3C3C3;
}

section.info h2 {
  padding: 5px 5px 10px 5px;
  margin:0;
}

section.info table {
  border-spacing: 0;
}

section.info table td {
  padding: 5px;
}

section.info table td:first-child {
  font-weight: bold;
  padding-right: 20px;
}
