<html>
<head>
	<title><%- title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  	<link href="/theme.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="layout">
  	<%- galleryHtml %>
  </div>
</body>
</html>
