* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  height: 100%;
  background: url(./img/bg.png) repeat;
  font-family: lucida grande,lucida sans unicode,lucida,helvetica,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.breadcrumb {
  padding-left: 10px;
  margin-bottom: 30px;
}

h1, h2, h3 {
  padding-left: 10px;
  font-weight: 300;
  clear: both;
}

h2 {
}

a {
  color: #333;
  text-decoration: none;
}

section.info {
  background-color: #f8f8f8;
}

.exif-p {
  width: 49%;
  float: left;
}

.layout {
  color: #333;
  padding: 60px;
  position: relative;
  z-index: 1;
}
.layout:after {
  display: none;
  content: '';
  background: url(./img/preloader.gif) no-repeat center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  transition: opacity 300ms;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.albums {
  margin-top: 60px; 
}
.thumb {
  text-align: center;
  list-style: none;
  float: left;
  width: 150px;
  height: 120px;
  margin: 10px;
  padding: 8px 8px;
  background: #fff;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}
.bg-lock {
  position: absolute;
  width: 150px;
  height: 100px;
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  font-size: 30px;
}
.hide{
  width: 150px;
  margin: 0 10px;
  padding: 0 8px;
  visibility: hidden;
}

.thumb:before {
    -webkit-transform: skew(-15deg) rotate(-5deg);
    -moz-transform: skew(-15deg) rotate(-5deg);
    -o-transform: skew(-15deg) rotate(-5deg);
    transform: skew(-15deg) rotate(-5deg);
    left: 15px;
}
.thumb:after {
    -webkit-transform: skew(15deg) rotate(5deg);
    -moz-transform: skew(15deg) rotate(5deg);
    -o-transform: skew(15deg) rotate(5deg);
    transform: skew(15deg) rotate(5deg);
    right: 15px;
}
.thumb:before, .thumb:after {
    width: 88%;
    height: 20%;
    content: ' ';
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 7px;
    z-index: -1;
}

.thumb figcaption {
  width: 100%;
  line-height: 32px;
  max-height: 32px;
  overflow: hidden;
  font-size: 14;
  word-wrap: break-word;
}

.thumb img {
  overflow: hidden;
  margin: auto;
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 100px;
}

figure.photo {
  margin: 10px;
}

figure.photo img {
  max-width: 100%;
}

figure.photo figcaption {
  padding-left: 10px;
}

section.info {
  margin: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #C3C3C3;
}

section.info h2 {
  padding: 5px 5px 10px 5px;
  margin:0;
}

section.info table {
  border-spacing: 0;
}

section.info table td {
  padding: 5px;
}

section.info table td:first-child {
  font-weight: bold;
  padding-right: 20px;
}

@media screen and (max-width:600px) {
  .layout {
    padding: 10px;
  }
  .thumb {
    margin: 10px auto;
    float: initial;
  }
}

.dialog {
  width: 280px;
  height: 60px;
  margin-top: -30px;
  margin-left: -140px;
  position: fixed;
  background: #fff;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  font-size: 14px;
  z-index: 4000;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.input-lock {
  width: 122px;
  height: 31px;
  padding: 6px;
  outline: none;
  border: 1px solid #a9a9a9;
  color: #333;
  margin-right: -1px;
}
.btn-default {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border: 0;
  background-color: #188eee;
  color: #fff;
  padding: 5px 20px;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#80000000', endColorstr='#80000000');
  background-color: rgba(0,0,0,.5);
  z-index: 4000;
  display: none;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j5npn0');
  src:  url('fonts/icomoon.eot?j5npn0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j5npn0') format('truetype'),
    url('fonts/icomoon.woff?j5npn0') format('woff'),
    url('fonts/icomoon.svg?j5npn0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-film:before {
  content: "\e913";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-key:before {
  content: "\e98d";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-share2:before {
  content: "\ea82";
}

